[[source]]
name = "pypi"
#url = "https://pypi.org/simple"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
fabric3 = "*"
pylint = "*"

[packages]
django = "*"
mysqlclient = "*"
django-cors-headers = "*"
tornado = "*"
upyun = "*"
tinify = "*"

[requires]
python_version = "3.6"
